<header>

  <a href="inicio"><img src="..\assets\LogoWeb.PNG" class = "Cabecera" alt="LOGOWEB"></a>
  <nav>

    <li class = "MenuCabecera"><a href="inicio">Home</a></li>
    <li class = "MenuCabecera"><a href="quienes">Quiénes somos</a></li>
    <li class = "MenuCabecera"><a href="laboratorio">Laboratorios</a></li>
    <li class = "MenuCabecera"><a href="contacto">Contáctenos</a></li>
  </nav>
</header>
<div class="Datos">
    <h1><b>Información de contacto</b></h1>
    <div class="info">
      <h3>Estiven Alejandro Rendón Escudero: &nbsp;&nbsp;<a href="#" class = "info1">estiven.rendon@udea.edu.co </a></h3>
      <h3>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Marlen Brillith Páez Quinero: &nbsp;&nbsp;<a href="#" class = "info1">marlen.paez@udea.edu.co </a></h3>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mauricio Zapata Contreras:    <a href="#" class = "info1"> &nbsp;&nbsp;  mauricio.zapatac@udea.edu.co</a></h3>

    </div>
</div>
