<header>

  <a href="inicio"><img src="..\assets\LogoWeb.PNG" class = "Cabecera" alt="LOGOWEB"></a>
  <nav>

    <li class = "MenuCabecera"><a href="inicio">Home</a></li>
    <li class = "MenuCabecera"><a href="quienes">Quiénes somos</a></li>
    <li class = "MenuCabecera"><a href="laboratorio">Laboratorios</a></li>
    <li class = "MenuCabecera"><a href="contacto">Contáctenos</a></li>
  </nav>
</header>

<div class="Datos">
    <h1><b>¿Quiénes somos?</b></h1>
    <div class="info">
      <h3>Somos un grupo de estudiantes de bioingeniería integrados por Estiven Alejandro Rendón Escudero, Marlen Brillith Páez Quintero y Mauricio Zapata Contreras.
          Hacemos parte del curso Tecnologías para el desarrollo de aplicaciones Web y esto es parte de nuestro trabajo final del curso. Cualquier apreciación o sugerencia
        será recibida en alguno de los correos mostrados en <a href="contacto" class = "info1"><b><u>ésta</u></b></a> página.</h3>

    </div>
</div>
