<header class = "Cab">

  <a href="inicio"><img src="..\assets\LogoWeb.PNG" class = "Cabecera" alt="LOGOWEB"></a>
  <nav class = "MenuQuienes">

    <li class = "MenuCabecera"><a href="inicio">Home</a></li>
    <li class = "MenuCabecera"><a href="quienes">Quiénes somos</a></li>
    <li class = "MenuCabecera"><a href="laboratorio">Laboratorios</a></li>
    <li class = "MenuCabecera"><a href="contacto">Contáctenos</a></li>
  </nav>
</header>

  <article class="Datos-formulario">
      <div class="contenedor">
       <h2>Formulario de Registro de Laboratorio</h2>
          <form class="Regis-lab">
              <div class=mombre-lab>
                  <label for="Nombre laboratorio">Nombre del laboratorio:</label>
                  <input type="text" class="form-control" id="name laboratorio" placeholder="Nombre">

              </div>
              <div class="municipio">
                      <label for="Nunicipio">Municipio:</label>
                      <input type="text" class="Regis-lab" id="municipio" placeholder="Municipio">
              </div>
              <div class="coordinador">
                      <label for="coordinador">coordinador:</label>
                      <input type="text" class="Regis-lab" id="coordinador" placeholder="Coordinador">
              </div>
              <div class="telefono">
                      <label for="telefono">telefono:</label>
                      <input type="number" class="Regis-lab" id="telefono"placeholder="1234567">
              </div>
              <div class="Area">
                      <label for="area">Nombre del area:</label>
                      <input type="text" class="Regis-lab" id="area" placeholder="Area">
              </div>
              <div class="Servicios">
                      <label for="Servicios">Pruebas realizadas:</label>
                      <input type="text" class="Regis-lab" id="Servicios" placeholder="Pruebas">
              </div>
              <div class="name-profesional">
                      <label for="name-profesional">Nombre del profesional:</label>
                      <input type="text" class="Regis-lab" id="name-profesional"placeholder="name@example.com">
              </div>




          </form>
          <a href="agregar"><input type="submit" value="Agregar laboratorio"> </a>
      </div>

  </article>
