<body>
  <header class = "Cab">

    <a href="inicio"><img src="..\assets\LogoWeb.PNG" class = "Cabecera" alt="LOGOWEB"></a>
    <nav>

      <li class = "MenuCabecera"><a href="inicio">Home</a></li>
      <li class = "MenuCabecera"><a href="quienes">Quiénes somos</a></li>
      <li class = "MenuCabecera"><a href="laboratorio">Laboratorios</a></li>
      <li class = "MenuCabecera"><a href="contacto">Contáctenos</a></li>
    </nav>
  </header>
  <article class="Laboratorios-wrapper">
  <div class="Buscar">
    <form>
    <h3>Buscar:   <input type="text" name="Buscar_Lab_Nombre" placeholder="Ingrese el nombre o NIT">
          <a href="laboratorio"><input type="submit" value="Buscar"> </a></h3>
          <h3>Resultados de la búsqueda</h3>
    </form>

  </div>
  <div class="container">

      <section class="Laboratorios">
          <div class="row">
              <div class="col-12 col-lg-12">
                  <div class="Laboratorio" >
                      <header class="cabecera-Laboratorio">
                          <h4>Nombre_Laboratorio_1</h4>
                          <p>Descripción_Laboratorio</p>
                      </header>
                      <section class="cuerpo-Laboratorio">
                          <img class="imagen-Laboratorio" src="..\assets\Lab.jpg"
                              alt="Nombre_Laboratorio">
                          <h3><b>Caracteristicas</b></h3>
                          <ul id="menu">
                              <li><b>Año de inicio:</b> Año_Inicio</li>
                              <li><b>NIT:</b> NIT_LABORATORIO</li>
                              <li><b>Teléfono:</b> TELEFONO_LABORATORIO</li>
                              <li><b>Gerente:</b> GERENTE_LABORATORIO</li>
                              <li><b>Municipio:</b> MUNICIPIO_LABORATORIO</li>
                              <li><b>Estado de funcionamiento:</b> ESTADO_LABORATORIO</li>
                              <li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1"><b>Áreas:</b></label>
                                <ul class="Areas">
                                  <li><input type="checkbox" name="list" id="nivel2-1"><label for="nivel2-1">Areas_1</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_1</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 1</li>
                                    </ul>
                                  </li>
                                  <li><input type="checkbox" name="list" id="nivel2-2"><label for="nivel2-2">Areas_2</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_2</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 2</li>
                                    </ul>
                                  </li>
                                  <li><input type="checkbox" name="list" id="nivel2-3"><label for="nivel2-3">Areas_3</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_3</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 3</li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-2"><label for="nivel1-2"><b>Servicios:</b></label>
                                <ul class="Servicios">
                                  <li>Servicios_1</li>
                                  <li>Servicios_2</li>
                                  <li>Servicios_3</li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-3"><label for="nivel1-3"><b>Cerfiticaciones:</b></label>
                                <ul class="Certificaciones">
                                  <li>Certificación_1</li>
                                  <li>Certificación_2</li>
                                  <li>Certificación_3</li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-4"><label for="nivel1-4"><b>Acreditaciones:</b></label>
                                <ul class="Acreditaciones">
                                  <li>Acreditacion_1</li>
                                  <li>Acreditacion_2</li>
                                  <li>Acreditacion_3</li>
                                </ul>
                              </li>

                          </ul>

                      </section>
                  </div>
                  </div>

                  <div class="col-12 col-lg-12">
                  <div class="Laboratorio">
                      <header class="cabecera-Laboratorio">
                          <h4>Nombre_Laboratorio_2</h4>
                          <p>Descripción_Laboratorio</p>
                      </header>
                      <section class="cuerpo-Laboratorio">
                          <img class="imagen-Laboratorio" src="..\assets\Lab2.jpg"
                              alt="Nombre_Laboratorio">
                          <h3><b>Caracteristicas</b></h3>
                          <ul id="menu">
                              <li><b>Año de inicio:</b> Año_Inicio</li>
                              <li><b>NIT:</b> NIT_LABORATORIO</li>
                              <li><b>Teléfono:</b> TELEFONO_LABORATORIO</li>
                              <li><b>Gerente:</b> GERENTE_LABORATORIO</li>
                              <li><b>Municipio:</b> MUNICIPIO_LABORATORIO</li>
                              <li><b>Estado de funcionamiento:</b> ESTADO_LABORATORIO</li>
                              <li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1"><b>Áreas:</b></label>
                                <ul class="Areas">
                                  <li><input type="checkbox" name="list" id="nivel2-1"><label for="nivel2-1">Areas_1</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_1</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 1</li>
                                    </ul>
                                  </li>
                                  <li><input type="checkbox" name="list" id="nivel2-2"><label for="nivel2-2">Areas_2</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_2</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 2</li>
                                    </ul>
                                  </li>
                                  <li><input type="checkbox" name="list" id="nivel2-3"><label for="nivel2-3">Areas_3</label>
                                    <ul class="Areas">
                                      <li><b>Encargado del Área: </b>ENCARGADO_AREA_3</li>
                                      <li><b>Descripción del área:</b> Esta área sirve para realizar cosas relacionadas con el área 3</li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-2"><label for="nivel1-2"><b>Servicios:</b></label>
                                <ul class="Servicios">
                                  <li>Servicios_1</li>
                                  <li>Servicios_2</li>
                                  <li>Servicios_3</li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-3"><label for="nivel1-3"><b>Cerfiticaciones:</b></label>
                                <ul class="Certificaciones">
                                  <li>Certificación_1</li>
                                  <li>Certificación_2</li>
                                  <li>Certificación_3</li>
                                </ul>
                              </li>

                              <li><input type="checkbox" name="list" id="nivel1-4"><label for="nivel1-4"><b>Acreditaciones:</b></label>
                                <ul class="Acreditaciones">
                                  <li>Acreditacion_1</li>
                                  <li>Acreditacion_2</li>
                                  <li>Acreditacion_3</li>
                                </ul>
                              </li>

                          </ul>

                      </section>
                  </div>
                  </div>

          </div>
          </section>
        </div>
    </article>
</body>
