<header>

  <a href="inicio"><img src="..\assets\LogoWeb.PNG" class = "Cabecera" alt="LOGOWEB"></a>
  <nav>

    <li class = "MenuCabecera"><a href="inicio">Home</a></li>
    <li class = "MenuCabecera"><a href="quienes">Quiénes somos</a></li>
    <li class = "MenuCabecera"><a href="laboratorio">Laboratorios</a></li>
    <li class = "MenuCabecera"><a href="contacto">Contáctenos</a></li>
  </nav>
</header>
<article class="Inicio-wrapper">
  <h1><b>¡Bienvenido a Mis Laboratorios!</b></h1>
  <h3> Aquí encontrarás toda la información necesaria de los laboratorios de la zona colombiana. <br>Seleccione la acción que desea realizar:</h3>
  <div class="Seleccionar-accion">
      <a href="laboratorio"><input type="submit" value="Consultar laboratorio"></a>
      <br>
      <br>
      <a href="agregar"><input type="submit" value=" Ingresar laboratorio "></a>
  </div>
</article>
